.contact{
    width: 100%;
    max-width: 1300px;
    margin: auto;
    padding: 60px 20px;
    box-sizing: border-box;
}

.contactInfo{
    display: grid;
    grid-template-columns: repeat(5, minmax(180px, 1fr));
    gap: 20px;
    margin: 40px 0;
    width: 100%;
}

.contactInfo a{
    background: rgba(255,255,255,.95);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #222;
    box-shadow: 0 8px 20px rgba(0,0,0,.12);
    transition: .4s;
    width: 100%;
    box-sizing: border-box;
}
.contactInfo a:hover{

transform:translateY(-10px);

background:#111;

color:gold;

}

.contactInfo svg{

font-size:34px;

margin-bottom:15px;

color:gold;

transition:.3s;

}

.contactInfo a:hover svg{

transform:scale(1.2);

}

.contactInfo span{

font-size:15px;

font-weight:600;

text-align:center;

word-break:break-word;

}

/* Form */

.form{

max-width:700px;

margin:auto;

display:flex;

flex-direction:column;

gap:20px;

}

.form input,

.form textarea{

padding:15px;

border-radius:10px;

border:1px solid #ddd;

font-size:16px;

outline:none;

transition:.3s;

}

.form input:focus,

.form textarea:focus{

border-color:gold;

box-shadow:0 0 10px rgba(255,215,0,.4);

}

.form button{

padding:15px;


background:#e7b511;

color:hsl(252, 33%, 94%);

border:none;

border-radius:10px;

font-size:18px;

font-weight:bold;

cursor:pointer;

transition:.3s;

}

.form button:hover{

background:gold;

color:#111;

}

.form button:disabled{

background:#888;

cursor:not-allowed;

}

/* Success */

.success{

margin-top:20px;

text-align:center;

font-size:18px;

color:green;

font-weight:bold;

}

/* Tablet */

@media(max-width:992px){

.contactInfo{

grid-template-columns:repeat(2,1fr);

}

}

/* Mobile */

@media(max-width:768px){

.contactInfo{

grid-template-columns:1fr;

}

.contactInfo a{

padding:18px;

}

.contactInfo svg{

font-size:28px;

}

}